@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdf3eb;
  --foreground: #171717;
  --hero-bg: #f4b507;
  --tw-bg-opacity: 1;
  --green: #4ade80;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fef6f0;
    --foreground: #111111;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  background: url(/images/hero-bg.png);
  background-color: var(--green);
}
